*{
    margin: 0;
    padding: 0.2rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.div-main{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}




#div-filters{
    width: 25%;
    font-weight: bold;
    
}




