*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: auto;
    height: 230vh;
    background: linear-gradient(30deg,#ffffff, #0485ac, #3fc1e9);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding: 2rem;
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.div-principal{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 4%;
    line-height: 2rem;
}

#words-container{
    display: flex;
    flex-direction: column;
}

.div-filters{
    display: flex;
    flex-direction: column;
}

.div-filters {
    color: black;
    font-weight: bold;
}

