*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#232222, #0485ac, #3fc1e9);
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 1.2rem;
    background-color: white;
    height: 90vh;
    width: 35vw;
    border-radius: 7px;
}

.title{
    color: #59d2f7;
    animation: changeTitle 1s infinite;
    background-color: transparent;  
    margin-bottom: 60px;
}

@keyframes changeTitle {
    50%{
     color: #000;
    }
 }

 /* estilos para la parte en donde se seleccionará el idioma a traducir*/
 #translation-direction{
    border: none;
    width: 40%;
    margin-bottom: 50px;
    font-size: 15px;
}

/* input para ingresar la palabra a traducir*/
#input-word{
    border: groove solid;
    border-radius: 5px;
    height: 35px;
    
    width: 60%;
    margin-bottom: 40px;
}




















#select-gender{
 border: none;
}





fieldset{
    border-radius: 10px;
    padding: 10px;
}



label{
    font-weight: bolder;
}

.label-word{
    font-size:0.9rem;
    
}
.input-word{
    padding-left: 5px;
}

.btn-translate{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #00ff66;
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
    cursor: pointer;
    margin-bottom: 20px;

}



