*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#232222, #0485ac, #3fc1e9);
}

main{
    display: flex;
    text-align: center;
    padding: 1.2rem;
    background: linear-gradient(to top,#097194, #109fca, #3fc1e9);
    height: 65vh;
    width: 60vw;
    border-radius: 7px;
    box-shadow: 0px 30px 20px #000;
}

/* div principal del main que contiene todos los elementos de traduccion*/
#translate{
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    width: 70%;
    height: 100%;
    border-right: 2px solid #000000; /* Línea gris a la derecha */
    padding-right: 2rem; /* Espacio entre la línea y el contenido */
}

/* titulo general: Traductor interactivo*/
.title{
    color: #ffffff;
    animation: changeTitle 1s infinite;
    background-color: transparent;  
    margin-bottom: 90px;
}
@keyframes changeTitle {
    50%{
     color: #000;
    }
}

/* estilos para el select en donde se seleccionará la dirección de la traduccion*/
#translation-direction{
    width: 22%;
    margin-bottom: 50px;
    font-size: 15px;
    background-color: transparent;
    border: 1px #000 solid;
    border-radius: 10px;
}

/* div que contiene el input y el boton traducir */
.divTraduction{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

/* input para ingresar la palabra a traducir*/
#input-word{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-left: 5%;
    width: 80%;
    margin-bottom: 40px;
}

input::placeholder {
    color: #ffffffcf; /* Cambia el color del texto del placeholder */
  }

/* boton de traducir*/
.btn-translate{
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    border: solid 1px;
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
    cursor: pointer;
    margin-bottom: 20px;
}

select option{
    color: #fff;
    background: #000000;
}

.btn-translate:hover{
    color: #fff;
    background-color: #000;
    border: none;
}

/* titulo que se visualiza al presionar el boton traducir */
.titleTraduction{
    margin-bottom: 15px;
}


/* segundo div del main, al lado derecho*/
.othersFunctions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 40%;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

a:hover{
    text-decoration: underline;
}




















