*{
    margin: 0;
    padding: 0.2rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.div-principal{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#words-container{
    display: flex;
    flex-direction: column;
}

.div-filters{
    display: flex;
    flex-direction: column;
}

.div-filters {
    color: black;
    font-weight: bold;
}

